<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购买食物</title>
    <script type="text/javascript" src="{%static 'js/jquery.js'  %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".subshopping").click(function() {
                var $sub_button = $(this);
                var span_num = $sub_button.next("span").html();
                if(span_num == "0"){
                    alert("购物车本无此商品!");
                    return;
                }
                var foodsid = $sub_button.attr('foodsid');

                $.get('/mm_order/subfromcart/',{'foodsid':foodsid},function(data) {
                    console.log(data);
                    if (data['status'] === 302){
                        window.open('/mm_order/log/',target='_self');
                        alert('hello')
                    }
                    $sub_button.next('span').html(data['cart_foods_num']);
                })
            })

            $(".addshopping").click(function() {
                var $add = $(this);
                var foodsid = $add.attr('foodsid');

                $.get('/mm_order/addtocart/',{'foodsid':foodsid},function(data) {
                    console.log(data);
                    if (data['status']  === 302){
                        window.open('/mm_order/log/',target='_self');
                    } else{
                        $add.prev('span').html(data['cart_foods_num']);
                    }
                })
            })
        })
    </script>
</head>
<body>
    <a href="">首页</a>
    <a href="{% url 'mm_order:go_cart' %}">购物车</a>
    <a href="">个人中心</a>
    {% for foodtype in foodtypes %}
        <a href="{% url 'mm_order:shop_message' foodtype.id %}" target="_self"><button id="foodtype">{{ foodtype.typename }}</button></a>
    {% endfor %}
    <br/>
    {% for foods in foods_list %}
        {{ foods.fname }}<br/>
        <img src="{{ foods.fimg }}" height=""><br/>
        人气：{{ foods.fpopnum }} &nbsp;&nbsp;价格：{{ foods.fprice }}
        <button foodsid="{{ foods.fid }}" class="subshopping">-</button>
        <span>{% if foods.cart_food_num %}
                {{ foods.cart_food_num }}
                {% else %}
                    0
            {% endif %}
        </span>
        <button foodsid="{{ foods.fid }}" class="addshopping">+</button>
    {% endfor %}
</body>
</html>